
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0px;
    padding: 0;

}
*{
    box-sizing: border-box;
    font-family: "dm sans";
}
/* Frame styles */
.frame {
    background-color: black;
    padding: 20px;
    /* Set background color */
    width: 100%; /* Make frame full-width */
    height: 30px; /* Set height of the frame */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
  }
  
  /* Text styles */
  .text {
    color: hsla(0, 0%, 100%, 1); 
    font-size: 14px; /* Set font size */
    text-transform: uppercase; /* Capitalize text */
  }
  /* Header styles */
.header {
    background-color:#fff;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  
  /* Navigation links styles */
  .left-links a, .right-links svg {
    color: black;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Logo styles */

  /* Responsive styles for viewport width below 779px */
  

  .top-section{
    position:relative;
    
    
  }
  .jhon-wick-section{
    background-image: url("Poster.png");
    min-height: 70vh;
    background-size: cover;
    position: relative;
    padding: 20px;display: flex;
    align-items: center;
  }
  .layer{
    background-color: hsla(0, 0%, 0%, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .jhon-wick-text-container{
    
    width: 90%;
    left: 20px;
    top: 30px;
  }
  @media screen and (max-width: 779px) {
    .left-links, .right-links {
      display: none;
    }
  
    .logo {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
  }
  
  .jhon-wick-title{
    font-family: "DM Sans";
    font-size: 30px;
    color: hsla(0, 0%, 100%, 1);

  }
  .jhon-wick-description{
    font-family: "DM Sans";
    font-size: 18px;
    color: hsla(0, 0%, 100%, 1);

  }
  .watch-button{
    background-color: hsla(345, 83%, 41%, 1);
    color: hsla(0, 0%, 100%, 1);
    height: 36px;
    width: 150px;
    border-radius: 6px;
    border: none;

  }

.search-input {
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5cdcd;
    border-radius: 3px;
    padding: 10px;
}

.red-con {
  color: red;
  background-color: red;
}

/* Style the search field */
.example input[type=text] {
    padding: 10px;
    background-color: #fff;
    font-size: 17px;
    border: 1px solid hsla(345, 83%, 41%, 1);
    border-right: none;
    float: left;
    width: 80%;
    outline: none;
  
  }
  
  /* Style the submit button */
  .example button {
    float: left;
    width: 10%;
    padding: 10px;
    background-color: #fff;
    font-size: 17px;
    border: 1px solid hsla(345, 83%, 41%, 1);
  border-left: none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  .example button:hover {
    border: 1px solid hsla(345, 83%, 41%, 1);
     
  }
  
  /* Clear floats */
  .example::after {
    content: "";
    clear: both;
    display: table;
  }
  .example {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      margin-top: 10px;
  }
  .splide__slide{
    position: relative;
  }
  
  .naviagation-button{
    background-color: hsla(345, 83%, 41%, 1);
    color: hsla(0, 0%, 100%, 1);
    height: 36px;
    width: 150px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
  }
  .naviagation-button a{
   color: #fff;
   text-decoration: none;
  }
  #firstData-container{
  margin-top: 20px
  }
  .icon-bg{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    
    align-items: center;

  }

  .icon {
    color: white;
 
    
   
    
  }
  .slider-image-name{
color: black;
font-weight: bold;

  }

.slider-photographer{
    color: grey;
}
.first-image-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    
}

.img-container-first{
  width: 100%;
  max-width: 350px;
  height: 300px;
  margin-right: 20px;
}
.fisrt-image{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:600px){
.fisrt-image{
    margin-right: 15px;
}
.first-content-container{
    width: 50%;
    padding: 10px;
}
.jhon-wick-text-container{
  width: 40%;
}

}

#sliderContainer, #fav-container{
  padding: 20px;
}

.author{
    color:hsla(345, 83%, 41%, 1) ;
}
.Similar-result{
    font-family: "Dm Sans";
    margin-left: 10px;
}
.playing {

    padding-right: 5px;
}
.first-item-heading{
  font-weight: bold;
  font-size: 20px;
}
